/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}

h1{
    display: flex;
    justify-content: center;
}

#first{
    /* Add styles for your sketch pad container */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
